<% content_for :subtitle do %>
  Call to <%= @call.party_address %> from <%= @call.endpoint.address %>
<% end %>

<section class="wrapper">
  <p>
    Call state:
    <span id="call-state">
      <% if @call.state.blank? %>
        Starting...
      <% else %>
        <%= @call.display_state %>
      <% end %>
    </span>
  </p>
</section>